.project-container {
  background-color: var(--text-primary-color);
  padding: 100px 20px 50px 20px;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0px;
  color: rgb(230, 230, 230);
}

.project-content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(136, 136, 136);
  padding: 20px 0;
}
.project-button {
  font-family: 'Inter' ;
  margin: 12px 0 0 0;
  font-style: normal;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--primary-color);
  padding:12px 33px;
  background: transparent;
  border: 2px solid var(--primary-color) !important;
  transition: all .8s linear 0s;
  border-radius: 5px;
}
.project-button:hover {
  background-color: var(--primary-color) ;
  color: var(--text-primary-color);
}