/* .table :where(thead, tfoot) :where(th, td) {
  background-color: transparent  !important;
}
.table :where(tbody th, tbody td) {
  background-color: transparent  !important;
} */
.delete {
  font-size: 30px;
  color: rgb(248, 110, 110);
  cursor: pointer;
  margin-right: 8px;
}
.pay {
  font-size: 30px;
  color: rgb(58, 248, 255);
  cursor: pointer;
}
.quantity {
  font-size: 27px;
  color: rgb(110, 154, 248);
  cursor: pointer;
}
.product {
  font-size: 27px;
  color: rgb(110, 154, 248);
  cursor: pointer;
}